.list-head {
  padding: 10px 20px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;

  h3 {
    margin: 0;
    padding: 3px 0;
    font-size: 18px;
  }
}

.list {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  height: calc(100vh - 110px);
  overflow-y: scroll;

  p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      color: #23527c;
      text-decoration: underline;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding: 10px 20px;
      border-bottom: 1px solid #ddd;
      font-size: 14px;

      a.active {
        color: #0556d5;
        font-weight: 600;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
