<main class="main">
  <div class="topBar">
    <div class="title">
      <img src="{{logoImg}}" alt="Logo">
      <span class="logoCaption"></span>
    </div>
    <div class="user">
      <div class="user-name">Welcome {{ username }}</div>
      <div class="logout">
        <div class="dropdown">
          <a class="userimage" href="#">
            <img src="{{userImg}}" alt="">
          </a>
          <div class="profile-menu">
            <a class="dropdown-item" href="#">Sign Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="left-side">
      <app-left-menu></app-left-menu>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side mx-0">
      <router-outlet />
    </div>
  </div>
</main>

