<div class="container-fluid px-5">
  <div class="row sticky-top py-3">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="my-0">Code Converter (Ignition)</h4>
    </div>
  </div>

  <div class="row info-description mb-4">
    This program converts Ignition Vision screens into Ignition Perspective, enhancing user experience and modernizing applications efficiently.
  </div>

  <div class="row">
    <form [formGroup]="profileForm" (ngSubmit)="generateTemplateList()">
      <div class="row mb-2">
        <label for="folderPath" class="col-form-label col-md-4">Folder path:</label>
        <div class="mb-2">
          <input id="folderPath" type="text" placeholder="Enter the path to the screen converter folder" formControlName="folderPath" class="form-control">
        </div>
      </div>
      <div class="row mb-2">
        <div class="d-flex justify-content-end" *ngIf="!loading">
          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid || loading">Generate component list</button>
        </div>
        <div class="d-flex mt-1 mx-3 justify-content-center" *ngIf="loading">
          <div id="spinner"></div> <span class="d-inline-block mx-2 mt-1">Loading...</span>
        </div>
      </div>
    </form>
  </div>

  <div class="row mt-4" *ngIf="templateList">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="my-0">Network IP table</h4>
    </div>
    <div class="row info-description mb-4">
      This table displays all the equipment found in the backup files and illustrates their interrelationships. Click on any row to view the related equipment.
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">Name</th>
          <th scope="col">Path</th>
          <th scope="col">Converted</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let templateDetail of templateList">
          <th scope="row">{{ templateDetail.Index }}</th>
          <td>{{ templateDetail.Name }}</td>
          <td>{{ templateDetail.Path }}</td>
          <td>{{ templateDetail.Converted }}</td>
        </tr>
      </tbody>
    </table>
  </div>
