.sticky-top {
  background-color: white;
  position: sticky;
}

.info-description {
  color: #666;
  margin: 0;
}

/* Alert style that appears at the top of the page */
.custom-alert {
  position: fixed;
  top: 20px; /* Distance from the top */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; /* Ensures the alert stays above other elements */
  width: auto;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/*textarea {
  overflow: hidden;*/ /* Hide scrollbars */
/*resize: none;*/ /* Prevent manual resizing */
/*}*/
