.sticky-top {
  background-color: white;
  position: sticky;
}

.info-description {
  color: #666;
  margin: 0;
}

/* Alert style that appears at the top of the page */
.custom-alert {
  position: fixed;
  top: 20px; /* Distance from the top */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; /* Ensures the alert stays above other elements */
  width: auto;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/*.styled-table table {
  border-collapse: collapse;
  width: 100%;
}

.styled-table table, .styled-table th, .styled-table td {
  border: 1px solid black;
}

.styled-table th, .styled-table td {
  padding: 8px;
  text-align: center;
}*/

markdown ::ng-deep {
  table {
    border-collapse: collapse; /* Para que as bordas fiquem coladas */
    width: 100%; /* Opcional: para definir a largura da tabela */
  }

  th, td {
    border: 1px solid black; /* Bordas para células e cabeçalhos */
    padding: 8px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto */
  }

  th {
    background-color: #f2f2f2; /* Cor de fundo para cabeçalhos (opcional) */
  }
}



/*textarea {
  overflow: hidden;*/ /* Hide scrollbars */
/*resize: none;*/ /* Prevent manual resizing */
/*}*/
