<div class="container-fluid px-5">
  <div class="row sticky-top py-3">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="my-0">Code Tester</h4>
    </div>
  </div>

  <div class="row info-description mb-4">
    This program access your OPC Server and, based on a spreadsheet, it will check and test the values.
  </div>

  <div class="row">
    <form [formGroup]="profileForm" (ngSubmit)="generateCodeTester()">
      <div class="row mb-2">
        <label for="file" class="col-form-label col-md-4">Upload file:</label>
        <div class="mb-2">
          <input id="file" type="file" (change)="onFileSelected($event)" class="form-control" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="d-flex justify-content-end" *ngIf="!loading">
          <button type="submit" class="btn btn-primary" [disabled]="!file || loading">Generate</button>
        </div>
        <div class="d-flex mt-1 mx-3 justify-content-center" *ngIf="loading">
          <div id="spinner"></div> <span class="d-inline-block mx-2 mt-1">Loading...</span>
        </div>
      </div>
    </form>

    <!-- JSON Result provided by SAI Applications -->
    <div id="result" *ngIf="SAICodeTesterResult">
      <markdown clipboard lineNumbers class="variable-binding" [data]="SAICodeTesterResult">
      </markdown>
      <!--<pre>{{ SAICodeTesterResult | json }}</pre>-->
    </div>
  </div>
</div>

