<div class="container-fluid px-5">
  <div class="row sticky-top py-3">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="my-0">PLC Code Generator</h4>
    </div>
  </div>

  <!-- Menu de opções com select -->
  <label for="codeGeneratorOption" class="col-form-label col-md-4">Option:</label>
  <div class="mb-2">
    <select id="codeGeneratorOption" formControlName="codeGeneratorOption" class="form-select" (change)="onOptionChange($event)">
      <option *ngFor="let option of codeGeneratorMenu" [value]="option" [selected]="option === 'Create Code'">
        {{ option }}
      </option>
    </select>
  </div>


  <!-- Conteúdo condicional -->
  <div class="row">
    <!-- Opção 'Create Code' -->
    <form *ngIf="selectedOption === 'Create Code'" [formGroup]="profileForm" (ngSubmit)="generatePLCRoutine()">
      <div class="row mb-2">
        <label for="routineName" class="col-form-label col-md-4">Routine Name:</label>
        <div class="mb-2">
          <input id="routineName" type="text" placeholder="Enter the routine name" formControlName="routineName" class="form-control">
        </div>
        <div class="d-flex flex-row justify-content-start align-items-center">
          <label for="userRequest" class="col-form-label me-2">User request:</label>
        </div>
        <div class="mb-2">
          <textarea id="userRequest" rows="6" cols="30" placeholder="Enter the code request" formControlName="userRequest" class="form-control"></textarea>
        </div>
      </div>
      <div class="row mb-2">
        <div class="d-flex justify-content-end" *ngIf="!loading">
          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid || loading">Generate</button>
        </div>
        <div class="d-flex mt-1 mx-3 justify-content-center" *ngIf="loading">
          <div id="spinner"></div> <span class="d-inline-block mx-2 mt-1">Loading...</span>
        </div>
      </div>
    </form>

    <!-- Resultado -->
    <div id="result" *ngIf="SAIRoutineCode">
      <markdown clipboard lineNumbers class="variable-binding limited-width" [data]="SAIRoutineCode"></markdown>
      <form [formGroup]="resultForm" (ngSubmit)="downloadPLCRoutineCode()">
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary" [disabled]="!resultForm.valid || loading">Download routine file</button>
        </div>
      </form>
    </div>

    <!-- Opção 'Use a Code' -->
    <form *ngIf="selectedOption === 'Use a Code'" [formGroup]="profileForm" (ngSubmit)="generateCodeGeneratorXML()">
      <div class="row mb-2">
        <label for="file" class="col-form-label col-md-4">Upload file:</label>
        <div class="mb-2">
          <input id="file" type="file" (change)="onFileSelected($event)" class="form-control" />
        </div>
      </div>
      <div class="row mb-2">
        <div class="d-flex justify-content-end" *ngIf="!loading">
          <button type="submit" class="btn btn-primary" [disabled]="!file || loading">Generate</button>
        </div>
        <div class="d-flex mt-1 mx-3 justify-content-center" *ngIf="loading">
          <div id="spinner"></div> <span class="d-inline-block mx-2 mt-1">Loading...</span>
        </div>
      </div>
    </form>

    <div id="result" *ngIf="SAICodeGeneratorXML">
      <div class="xml-container">
        <markdown clipboard lineNumbers class="variable-binding" [data]="SAICodeGeneratorXML">
        </markdown>
      </div>

      <div class="d-flex justify-content-end mt-2">
        <button type="button" class="btn btn-primary" (click)="downloadXMLFile()">Download routine file</button>
      </div>
    </div>
  </div>
</div>
