<div class="container-fluid px-5">
  <div class="row sticky-top py-3">
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="my-0">Network Diagram Generator</h4>
    </div>
  </div>

  <div class="row info-description mb-4">
    This program converts creates visual diagrams, connection and network analyses from PLC backup files, enhancing system management and collaboration for automation professionals.
  </div>

  <div class="row">
    <form [formGroup]="profileForm" (ngSubmit)="generateNetworkDiagram()">
      <div class="row mb-2">
        <label for="folderPath" class="col-form-label col-md-4">Folder path:</label>
        <div class="mb-2">
          <input id="folderPath" type="text" placeholder="Enter the path to the PLC backup files" formControlName="folderPath" class="form-control">
        </div>
      </div>
      <div class="row mb-2">
        <div class="d-flex justify-content-end" *ngIf="!loading">
          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid || loading">Generate</button>
        </div>
        <div class="d-flex mt-1 mx-3 justify-content-center" *ngIf="loading">
          <div id="spinner"></div> <span class="d-inline-block mx-2 mt-1">Loading...</span>
        </div>
      </div>
    </form>

    <!-- TEXT Result provided by SAI Applications -->
    <div id="result" *ngIf="SAINetworkAnalysisResult">
      <markdown clipboard lineNumbers class="variable-binding" [data]="SAINetworkAnalysisResult">
      </markdown>
    </div>

    <!-- TABLE Result -->
    <div class="row mt-4" *ngIf="SAINetworkAnalysisResult">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="my-0">Network IP table</h4>
      </div>
      <div class="row info-description mb-4">
        This table displays all the equipment found in the backup files and illustrates their interrelationships. Click on any row to view the related equipment.
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Processor Type</th>
            <th scope="col">Major Rev</th>
            <th scope="col">Export Date</th>
            <th scope="col">IP</th>
            <th scope="col">Connections</th>
            <th scope="col">Backup Provided</th>
          </tr>
        </thead>
        <tbody>
          <tr [class.table-warning]="i == selectedRow" [class.table-primary]="isOtherRow(i)" *ngFor="let eqpDetails of eqpDetailsList; let i = index" (click)="highlightRow(i)">
            <th scope="row">{{ eqpDetails.Index }}</th>
            <td>{{ eqpDetails.Name }}</td>
            <td>{{ eqpDetails.ProcessorType }}</td>
            <td>{{ eqpDetails.MajorRev }}</td>
            <td>{{ eqpDetails.ExportDate }}</td>
            <td>{{ eqpDetails.IP }}</td>
            <td>{{ eqpDetails.Connections }}</td>
            <td>{{ eqpDetails.BackupProvided }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- DIAGRAM in draw.io -->
    <div class="d-flex mt-1 mx-3 justify-content-center" *ngIf="loadingDiagram">
      <div id="spinner"></div> <span class="d-inline-block mx-2 mt-1">Loading diagram...</span>
    </div>
    <div class="row mt-4" *ngIf="diagramXMLresult">
        <div class="d-flex justify-content-between align-items-center">
          <h4 class="my-0">Network Diagram</h4>
        </div>
        <div class="row info-description mb-4" style="white-space: nowrap;">
          This diagram illustrates the connections among all related equipment. For a clearer view, please click to
          <a (click)="openFullScreen()" class="text-primary" style="cursor: pointer;">Open Fullscreen</a> button.
        </div>
        <div class="diagram-container" #diagramContainer>
          <div #mxgraphScriptsContainer id="mxgraph-scripts-container"></div>
          <div #container id="mxgraph-diagram-container"></div>
        </div>
</div>

  </div>
</div>

