/* Extend or override Bootstrap's .table-striped class */
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); /* Default Bootstrap striped color */
}

/* Define the .highlight class */
.highlight {
  background-color: yellow !important; /* Ensure this takes precedence */
}

.diagram-title {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 32px;
  position: relative;
}

.diagram-container {
  position: relative;
  z-index: 0;
  width: 100%; /* Fixed width */
  height: 800px; /* Fixed height */
  border: 1px solid #ddd; /* Optional: Add a border for better visibility */
  margin: 10px auto; /* Center the container horizontally */
}

.diagram-table {
  width: 80%;
  border-collapse: collapse;
}

  .diagram-table th, .diagram-table td {
    border: 1px solid #ddd;
    padding: 6px;
  }

  .diagram-table th {
    background-color: #f2f2f2;
    text-align: left;
  }

.sticky-top {
  background-color: white;
  position: sticky;
}

.info-description {
  color: #666;
  margin: 0;
}

.box {
  width: 300px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative; /* For positioning content inside */
}

.box.expanded {
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  top: 0; /* Positioning */
  left: 0; /* Positioning */
  z-index: 1000; /* Bring it to the front */
  border-radius: 0; /* Remove rounding */
}

.content {
  display: block; /* Ensure content is displayed */
}

.d-flex {
  display: flex;
  flex-wrap: nowrap; /* Prevents wrapping */
}


